div.countdown{
  background-color: tomato;
  width: 20em;
  padding: 2em;
  border: 8px solid #EB1F45;
  border-radius: 4px;
  h1{
   font-family: "Arvo";
   text-align: center;
   color: #E3FFC9;
  }
}
#countdown{
  color: #DEE6FF;
}